
.nav-link{
    display: inline-block;
    width: 50px;
    padding: 12px;
    margin: 0 6px 6px;
    background: blue;
    text-decoration: none;
    color: white; 
}


a.active {
background-color:red;
    
}

